@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  transition:.3s;
}

body.dark{
  background:#020617;
  color:white;
}

body.light{
  background:#F8FAFC;
  color:#111827;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#020617;
}

::-webkit-scrollbar-thumb{
  background:#3B82F6;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#2563EB;
}

/* Selection */

::selection{
  background:#2563EB;
  color:white;
}

/* Container */

.container{
  width:min(1200px,90%);
  margin:auto;
}

/* Aurora */

.aurora{
  position:fixed;
  inset:0;
  overflow:hidden;
  z-index:-10;
}

.aurora span{
  position:absolute;
  border-radius:50%;
  filter:blur(120px);
  animation:float 18s infinite alternate;
}

.aurora span:nth-child(1){
  width:350px;
  height:350px;
  background:#2563EB;
  left:-100px;
  top:-100px;
}

.aurora span:nth-child(2){
  width:450px;
  height:450px;
  background:#7C3AED;
  right:-120px;
  top:20%;
}

.aurora span:nth-child(3){
  width:300px;
  height:300px;
  background:#06B6D4;
  left:30%;
  bottom:-100px;
}

@keyframes float{

0%{
transform:translateY(0px) translateX(0px);
}

100%{
transform:translateY(-80px) translateX(60px);
}

}